<div class="col-md-3 offset-md-3 mt-5">
  <h3>View Employee Details</h3>

  <div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <label for=""><b>ID : </b></label> {{ employee.id }}
      </li>
      <li class="list-group-item">
        <label for=""><b>First Name : </b></label> {{ employee.firstName }}
      </li>
      <li class="list-group-item">
        <label for=""><b>Last Name : </b></label> {{ employee.lastName }}
      </li>
      <li class="list-group-item">
        <label for=""><b>Email : </b></label> {{ employee.emailId }}
      </li>
    </ul>
  </div>
</div>
